body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  position:relative;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#nav_menu ul{
    position:absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
}

ul#nav_list {
    text-align:center;
}

#nav_menu ul li, #nav_list li {
    margin-left: 0;
    padding: 3px 15px;
    list-style: none;
    display: inline;
}
	
		
#nav_menu ul li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
}

#nav_menu ul li a {
    text-decoration:none;
    color:black;
    font-size:14px;
}

#nav_menu ul li a:hover {
    text-decoration: underline;
}

/* REPORT TABLE */

#payroll {
    width:100%;
}

#payroll th {
    border-bottom:1px solid black;
}

#payroll .coach {
    text-align:left;
}

#payroll .data {
    text-align:center;
}

#payroll .dark {
    background-color:#ccc
}

/* EVENT COLORS */
.WOD, .fc-agenda .WOD .fc-event-time, .WOD a {
    background-color:burlywood; /* background color */
    border-color: black;     /* border color */
    color: black;           /* text color */
}

.Elements, .fc-agenda .Elements .fc-event-time, .Elements a {
    background-color:darkseagreen; /* background color */
    border-color: black;     /* border color */
    color: black;           /* text color */
}