<% title 'Payroll for #the month' %>
<table id="payroll">
  <th class="coach">Coach</th>
  <% @types.each do |event_type| %>
     <th class="data"><%= event_type %></th>
  <% end %>
  <% @coachs.each do |name, hash| %>
      <tr class="<%= cycle("light", "dark", :name => "row_class") -%>">
        <td class="coach"><%= name %></td>
        <% @types.each do |event_type| %>        
            <td class="data"><%=h hash[event_type.to_sym] %></td>
        <% end %>
      </tr>
  <% end %>
</table>